@CHARSET "ISO-8859-1";
#topo{
	background-color: #eee;
	height: 100px;
	line-height: 80px;
	border: 1px solid #ccc;
}
#logo{
	font-size: 30px;
}
#sairSessao{
	text-align: right;
}
#logo a:hover, #sairSessao a:hover{
	text-decoration: none;
}
#menu{
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer{
	margin-top: 15px;
}
<<<<<<< HEAD
=======

>>>>>>> branch 'master' of https://github.com/JuniorGuita/NinaConfeccoes.git

#buscaRegistros{
	color: #297baa;
<<<<<<< HEAD
}
=======

>>>>>>> branch 'master' of https://github.com/JuniorGuita/NinaConfeccoes.git

#panelProdutos .table {
	margin:0px
}

#panelProdutos {
<<<<<<< HEAD
	margin-bottom:30px;
=======
	margin-bottom:30px;

>>>>>>> branch 'master' of https://github.com/JuniorGuita/NinaConfeccoes.git
}
